.walletItem__container {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 1.6rem 3.5rem;
}

.wallet__item__icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 20px;
}
.wallet__icon {
  margin: 0 auto;
  scale: 1.8;
  color: white;
}

.wallet__item__name {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
}

.wallet__item__amount {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  color: var(--gray);
}
